
  .jobcard-main {
    max-width: 350px;
      margin-bottom: 20px;
      line-height: 1.42857143;
      background-color: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
      transition: box-shadow .25s; 
  }

  .jobcard-main:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .jobcard-img {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
      overflow: hidden;
  }
  .jobcard-img img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
  } 
  .jobcard-main-content {
    padding: 10px 0;
    text-align:left;
    font-size: 1.2em;
  }
  span{
      font-weight: bold;
  }
  .jobcard-title {
    padding-top: 0.5em;
    margin-top:0px;
    font-weight: 600;
    font-size: 2em;
  } 