.display-user-page-table-header{
    color: grey;
}

.text-right{
  text-align: right;
}

.user-header-div{
  height: 250px;
  width: 100%;
  padding: 0;
  position: relative;
}

.user-header-div-2{
  height: 180px;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1501820434261-5bb046afcf6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.user-image-header-div{
  height: 135px;
  width: 135px;
  border-radius: 50%;
  top : -65px;
  position: relative;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 5px;
}


.user-image-header{
  height: 125px;
  width: 125px;
  border-radius: 50%;
  object-fit: cover;
}

.doc-display{
  width: 100%;
  height: 600px;
}

